USE [AziendaVinicola]
GO
/****** Object:  Table [dbo].[Allocata]    Script Date: 01/06/2017 17:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Allocata](
	[IdComune] [int] NOT NULL,
	[IdAzienda] [char](4) NOT NULL,
 CONSTRAINT [PK_Allocata] PRIMARY KEY CLUSTERED 
(
	[IdComune] ASC,
	[IdAzienda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Azienda]    Script Date: 01/06/2017 17:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Azienda](
	[Id] [char](4) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Indirizzo] [varchar](100) NOT NULL,
	[Latitudine] [geography] NOT NULL,
	[Longitudine] [geography] NOT NULL,
	[Titolare] [varchar](100) NOT NULL,
	[Telefono] [varchar](15) NOT NULL,
	[Email] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Azienda] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bottiglia]    Script Date: 01/06/2017 17:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bottiglia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mese] [int] NOT NULL,
	[Anno] [int] NOT NULL,
	[Progressivo] [int] NOT NULL,
	[IdAzienda] [char](4) NOT NULL,
	[IdCassa] [int] NOT NULL,
 CONSTRAINT [PK_Bottiglia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cassa]    Script Date: 01/06/2017 17:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cassa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Data] [date] NOT NULL,
	[Tipologia] [varchar](50) NOT NULL,
	[Annata] [int] NOT NULL,
	[DOC] [bit] NOT NULL,
	[IdCliente] [int] NOT NULL,
 CONSTRAINT [PK_Cassa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 01/06/2017 17:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Tipo] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comune]    Script Date: 01/06/2017 17:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comune](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProvincia] [int] NOT NULL,
	[Denominazione] [varchar](200) NOT NULL,
	[Capoluogo] [bit] NULL,
 CONSTRAINT [PK_Comune] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Gallery]    Script Date: 01/06/2017 17:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Gallery](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Immagine] [varchar](100) NOT NULL,
	[Didascalia] [text] NULL,
	[IdAzienda] [char](4) NOT NULL,
 CONSTRAINT [PK_Gallery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Produzione]    Script Date: 01/06/2017 17:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Produzione](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UvaUtilizzata] [int] NOT NULL,
	[UvaLavorata] [int] NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Data] [date] NOT NULL,
	[LitriProdotti] [int] NOT NULL,
	[BottiglieVendute] [int] NOT NULL,
	[IdAzienda] [char](4) NOT NULL,
 CONSTRAINT [PK_Produzione] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 01/06/2017 17:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Provincia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRegione] [int] NOT NULL,
	[Denominazione] [varchar](200) NOT NULL,
	[Sigla] [char](2) NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Regione]    Script Date: 01/06/2017 17:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Regione](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRipartizioneGeografica] [int] NOT NULL,
	[Denominazione] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RipartizioneGeografica]    Script Date: 01/06/2017 17:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RipartizioneGeografica](
	[Id] [int] NOT NULL,
	[Denominazione] [varchar](200) NOT NULL,
 CONSTRAINT [PK_RipartizioneGeografica] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Comune] ON 

INSERT [dbo].[Comune] ([Id], [IdProvincia], [Denominazione], [Capoluogo]) VALUES (1, 1, N'Agliè', 0)
INSERT [dbo].[Comune] ([Id], [IdProvincia], [Denominazione], [Capoluogo]) VALUES (2, 1, N'Airasca', 0)
INSERT [dbo].[Comune] ([Id], [IdProvincia], [Denominazione], [Capoluogo]) VALUES (3, 1, N'Ala di Stura', 0)
GO
SET IDENTITY_INSERT [dbo].[Comune] OFF
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([Id], [IdRegione], [Denominazione], [Sigla]) VALUES (1, 1, N'Torino', N'TO')
INSERT [dbo].[Provincia] ([Id], [IdRegione], [Denominazione], [Sigla]) VALUES (2, 1, N'Vercelli', N'VC')
INSERT [dbo].[Provincia] ([Id], [IdRegione], [Denominazione], [Sigla]) VALUES (3, 1, N'Novara', N'NO')
GO
SET IDENTITY_INSERT [dbo].[Provincia] OFF
SET IDENTITY_INSERT [dbo].[Regione] ON 

INSERT [dbo].[Regione] ([Id], [IdRipartizioneGeografica], [Denominazione]) VALUES (1, 1, N'Piemonte')
INSERT [dbo].[Regione] ([Id], [IdRipartizioneGeografica], [Denominazione]) VALUES (2, 1, N'Valle d''Aosta/Vallée d''Aoste')
INSERT [dbo].[Regione] ([Id], [IdRipartizioneGeografica], [Denominazione]) VALUES (3, 1, N'Lombardia')
SET IDENTITY_INSERT [dbo].[Regione] OFF
INSERT [dbo].[RipartizioneGeografica] ([Id], [Denominazione]) VALUES (1, N'Nord-ovest')
INSERT [dbo].[RipartizioneGeografica] ([Id], [Denominazione]) VALUES (2, N'Nord-est')
INSERT [dbo].[RipartizioneGeografica] ([Id], [Denominazione]) VALUES (3, N'Centro')
ALTER TABLE [dbo].[Allocata]  WITH CHECK ADD  CONSTRAINT [FK_Allocata_Azienda] FOREIGN KEY([IdAzienda])
REFERENCES [dbo].[Azienda] ([Id])
GO
ALTER TABLE [dbo].[Allocata] CHECK CONSTRAINT [FK_Allocata_Azienda]
GO
ALTER TABLE [dbo].[Allocata]  WITH CHECK ADD  CONSTRAINT [FK_Allocata_Comune] FOREIGN KEY([IdComune])
REFERENCES [dbo].[Comune] ([Id])
GO
ALTER TABLE [dbo].[Allocata] CHECK CONSTRAINT [FK_Allocata_Comune]
GO
ALTER TABLE [dbo].[Bottiglia]  WITH CHECK ADD  CONSTRAINT [FK_Bottiglia_Azienda] FOREIGN KEY([IdAzienda])
REFERENCES [dbo].[Azienda] ([Id])
GO
ALTER TABLE [dbo].[Bottiglia] CHECK CONSTRAINT [FK_Bottiglia_Azienda]
GO
ALTER TABLE [dbo].[Bottiglia]  WITH CHECK ADD  CONSTRAINT [FK_Bottiglia_Cassa] FOREIGN KEY([IdCassa])
REFERENCES [dbo].[Cassa] ([Id])
GO
ALTER TABLE [dbo].[Bottiglia] CHECK CONSTRAINT [FK_Bottiglia_Cassa]
GO
ALTER TABLE [dbo].[Cassa]  WITH CHECK ADD  CONSTRAINT [FK_Cassa_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Cassa] CHECK CONSTRAINT [FK_Cassa_Cliente]
GO
ALTER TABLE [dbo].[Comune]  WITH CHECK ADD  CONSTRAINT [FK_Comune_Provincia] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincia] ([Id])
GO
ALTER TABLE [dbo].[Comune] CHECK CONSTRAINT [FK_Comune_Provincia]
GO
ALTER TABLE [dbo].[Gallery]  WITH CHECK ADD  CONSTRAINT [FK_Gallery_Azienda] FOREIGN KEY([IdAzienda])
REFERENCES [dbo].[Azienda] ([Id])
GO
ALTER TABLE [dbo].[Gallery] CHECK CONSTRAINT [FK_Gallery_Azienda]
GO
ALTER TABLE [dbo].[Produzione]  WITH CHECK ADD  CONSTRAINT [FK_Produzione_Azienda] FOREIGN KEY([IdAzienda])
REFERENCES [dbo].[Azienda] ([Id])
GO
ALTER TABLE [dbo].[Produzione] CHECK CONSTRAINT [FK_Produzione_Azienda]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [FK_Provincia_Regione] FOREIGN KEY([IdRegione])
REFERENCES [dbo].[Regione] ([Id])
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [FK_Provincia_Regione]
GO
ALTER TABLE [dbo].[Regione]  WITH CHECK ADD  CONSTRAINT [FK_Regione_RipartizioneGeografica] FOREIGN KEY([IdRipartizioneGeografica])
REFERENCES [dbo].[RipartizioneGeografica] ([Id])
GO
ALTER TABLE [dbo].[Regione] CHECK CONSTRAINT [FK_Regione_RipartizioneGeografica]
GO
