/****** Script per comando SelectTopNRows da SSMS  ******/
SELECT [Codice Regione]
      ,[Codice Provincia]
      ,[Codice Comune]
      ,[Codice Istat del Comune _(formato alfanumerico)]
      ,[Codice Istat del Comune _(formato numerico)]
      ,[Codice Istat del Comune a 103 province_(formato numerico)]
      ,[Codice Istat del Comune a 107 province_(formato numerico)]
      ,[Denominazione (italiano/tedesco)]
      ,[Solo denominazione in italiano]
      ,[Solo denominazione in tedesco]
      ,[Comune capoluogo di provincia]
      ,[Zona altimetrica]
      ,[Altitudine del centro (metri)]
      ,[Comune litoraneo]
      ,[Comune Montano]
      ,[Codice Sistema locale del lavoro 2001]
      ,[Denominazione Sistema locale del lavoro 2001]
      ,[Superficie territoriale totale (kmq)]
      ,[Popolazione legale 2001 (21/10/2001)]
      ,[Popolazione residente al 31/12/2008]
      ,[Popolazione residente al 31/12/2009]
      ,[Popolazione residente al 31/12/2010]
  FROM [Istat].[dbo].['COMUNI 01_01_2012$']