USE [Istat]
GO
/****** Object:  Table [dbo].[COD_REG_PROV$]    Script Date: 25/05/2017 22:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COD_REG_PROV$](
	[Codice ripartizione] [float] NULL,
	[Codice NUTS1] [nvarchar](255) NULL,
	[Ripartizione geografica_(Maiuscolo)] [nvarchar](255) NULL,
	[Ripartizione geografica] [nvarchar](255) NULL,
	[Codice regione] [nvarchar](255) NULL,
	[Codice NUTS2 2006(a)] [nvarchar](255) NULL,
	[Denominazione regione_(Maisucolo)] [nvarchar](255) NULL,
	[Denominazione regione] [nvarchar](255) NULL,
	[Codice provincia] [nvarchar](255) NULL,
	[Codice NUTS3 2006] [nvarchar](255) NULL,
	[Denominazione provincia] [nvarchar](255) NULL,
	[Sigla automobilistica] [nvarchar](255) NULL,
	[F13] [nvarchar](255) NULL,
	[F14] [nvarchar](255) NULL,
	[F15] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CODICI COMUNI 23042016$]    Script Date: 25/05/2017 22:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CODICI COMUNI 23042016$](
	[Codice Regione] [nvarchar](255) NULL,
	[Codice Città Metropolitana] [nvarchar](255) NULL,
	[Codice Provincia (1)] [nvarchar](255) NULL,
	[Progressivo del Comune (2)] [nvarchar](255) NULL,
	[Codice Comune formato alfanumerico] [nvarchar](255) NULL,
	[Denominazione in italiano] [nvarchar](255) NULL,
	[Denominazione in tedesco] [float] NULL,
	[Codice Ripartizione Geografica] [float] NULL,
	[Ripartizione geografica] [nvarchar](255) NULL,
	[Denominazione regione] [nvarchar](255) NULL,
	[Denominazione Città metropolitana] [nvarchar](255) NULL,
	[Denominazione provincia] [nvarchar](255) NULL,
	[Flag Comune capoluogo di provincia] [float] NULL,
	[Sigla automobilistica] [nvarchar](255) NULL,
	[Codice Comune formato numerico] [float] NULL,
	[Codice Comune numerico con 107 province (dal 2006 al 2009)] [float] NULL,
	[Codice Comune numerico con 103 province (dal 1995 al 2005)] [float] NULL,
	[Codice Catastale del comune] [nvarchar](255) NULL,
	[Popolazione legale 2011 (09/10/2011)] [float] NULL,
	[Codice NUTS1 2010] [nvarchar](255) NULL,
	[Codice NUTS2 2010 (3) ] [nvarchar](255) NULL,
	[Codice NUTS3 2010] [nvarchar](255) NULL,
	[Codice NUTS1 2006] [nvarchar](255) NULL,
	[Codice NUTS2 2006 (3)] [nvarchar](255) NULL,
	[Codice NUTS3 2006] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comune]    Script Date: 25/05/2017 22:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comune](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProvincia] [int] NOT NULL,
	[Denominazione] [varchar](200) NOT NULL,
	[Capoluogo] [bit] NULL,
	[Popolazione] [int] NULL,
 CONSTRAINT [PK_Comune] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 25/05/2017 22:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRegione] [int] NOT NULL,
	[Denominazione] [varchar](200) NOT NULL,
	[Sigla] [char](2) NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Regione]    Script Date: 25/05/2017 22:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regione](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRipartizioneGeografica] [int] NOT NULL,
	[Denominazione] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RipartizioneGeografica]    Script Date: 25/05/2017 22:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RipartizioneGeografica](
	[Id] [int] NOT NULL,
	[Denominazione] [varchar](200) NOT NULL,
 CONSTRAINT [PK_RipartizioneGeografica] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Comune]  WITH CHECK ADD  CONSTRAINT [FK_Comune_Provincia] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincia] ([Id])
GO
ALTER TABLE [dbo].[Comune] CHECK CONSTRAINT [FK_Comune_Provincia]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [FK_Provincia_Regione] FOREIGN KEY([IdRegione])
REFERENCES [dbo].[Regione] ([Id])
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [FK_Provincia_Regione]
GO
ALTER TABLE [dbo].[Regione]  WITH CHECK ADD  CONSTRAINT [FK_Regione_RipartizioneGeografica] FOREIGN KEY([IdRipartizioneGeografica])
REFERENCES [dbo].[RipartizioneGeografica] ([Id])
GO
ALTER TABLE [dbo].[Regione] CHECK CONSTRAINT [FK_Regione_RipartizioneGeografica]
GO
